* {
  background-color: yellow;
}
.container {
}
.main_title {
  font-size: 60px;
  margin-right: 100px;
}
.main_h2 {
  text-align: end;
  margin-right: 50px;
}
.main_h2_topic {
  text-align: center;
  font-size: 40px;
}
.main_p {
  font-size: 30px;
  margin-left: 30px;
}
.div_history_text {
  font-size: 16px;
  margin-left: 50px;
}
.topic_main {
  display: flex;
  justify-content: space-between;
}
.image_photo {
  margin-left: 50px;
}
